/* ------------------------------ */
/*     EXTERNAL FONT IMPORT       */
/* ------------------------------ */
@font-face {
  font-family: 'zidna';
  src:  url('fonts/zidna-webfont.woff') format('woff'),
  url('fonts/zidna-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  /* https://www.fontspace.com/zidna-font-f102397 */
}


/* ------------------------------ */
/*      GENERAL PAGE SETUP        */
/* ------------------------------ */

/* 
set the body to take up 100% of the viewport in both dimensions
delete the default margins to avoid scrollbars
set a background color as fallback
but overlay it with a background image 
scale the image to cover the whole screen 
*/
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #555555;
  background-image: url("bg.webp");
  background-size: cover;
  background-position: center;
  font-family: 'Trebuchet MS',sans-serif;
}

/* 
the card is the only element on the site
set the display to be a css grid and setup the grid accordingly
absolute positioning with auto margins works because the element is alone
*/
.card {
  display: grid; 
  grid-template-columns: 7fr 4fr; 
  grid-template-rows: 5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas:
    "a b"
    "c c"; 
  width: 800px;
  aspect-ratio: 85 / 55;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow: 5px 5px 5px;
  background-color: white;
}

/* 
strip all link decoration and color
*/
.card a {
  text-decoration: none;
  color: black;
}

.card ul {
  list-style: none;
  display: contents;
}


/* ------------------------------ */
/*    INTRO SECTION OF CARD       */
/* ------------------------------ */

/* 
intro section is top left, holds welcome text and name
middleName "unfolds" on hover, handled later
*/
.intro {
  grid-area: a;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.intro figure {
  display: contents;
}

.intro img {
  border-radius: 50%;
  width: 150px;
  aspect-ratio: 1 / 1;
}

.intro h1 {
  font-family: zidna, serif;
  font-size: 55px;
  text-align: center;
  margin: 0;
}

.text {
  line-height: 0.8;
}

.middle-name {
  display: inline-block;
  vertical-align: bottom;
  color: #222;
  overflow: hidden;
  -webkit-transition: width .2s ease-out;
  transition: width .2s ease-out;
}

/* ------------------------------ */
/*       SOCIALS SECTIONS         */
/* ------------------------------ */

.highlights {
  grid-area: b;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  font-size: 18px;
}

/*
the anchor tags that make up the highlight socials are made into a 
flexbox container themselves, making it possible to center the label
*/
.highlights a {
  display: flex;
  align-items: center;
}

/*
the highlight section is bigger than the collection as the linked
socials are more relevant and curated better
*/
.highlights svg {
  width: 40px;
  padding: 18px;
}

.collection {
  grid-area: c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.collection a {
  display: flex;
  align-items: center;
}

.collection svg {
  width: 30px;
  padding: 20px;
}

/* .label {
  display: block;
} */





/* ------------------------------ */
/*      COLOR DEFINITIONS         */
/* ------------------------------ */

/* #mastodon:hover {   color: lightblue;     } */
/* #github:hover {     color: silver;        } */
/* #flickr:hover {     color: palevioletred; } */
/* #strava:hover {     color: orange;        } */
/* #instagram:hover {  color: lightcoral;    } */
/* #linkedin:hover {   color: lightblue;     } */
/* #xing:hover {       color: lightgreen;    } */
/* #signal:hover {     color: lightskyblue;  } */
/* #mail:hover {       color: cadetblue;     } */

/* ------------------------------ */
/*      SETUP FOR SCREENS XYZ     */
/* ------------------------------ */